@{
    Layout = null;
}
@model Project_Group3.Models.ModelsView;

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body {
        padding: 20px;
    }

    .container {
        max-width: 600px;
        margin: 0 auto;
    }

    .back-button {
        margin-top: 20px;
    }
</style>

<body>
    <div class="container">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Payment Fail</h4>
            <p>The voucher you entered @TempData["invalid"].</p>
            <hr>
            <a href="@Url.Action("Index", "Payment",new {learnerId= @Model.Learner.LearnerId , courseId = @Model.Course.CourseId })"
                class="btn btn-primary back-button">Back to Home</a>
        </div>
    </div>
</body>

</html>